.frame {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.top-horizontal {
  width: 300px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  border-top-left-radius: 1rem;
  background: var(--gradient-horizontal);
  opacity: 0.4;
  z-index: 999;
}

.bottom-horizontal {
  width: 300px;
  height: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
  border-bottom-right-radius: 1rem;
  background: var(--gradient-horizontal);
  opacity: 0.4;
  z-index: 999;
}

.top-vertical {
  width: 20px;
  height: 270px;
  position: absolute;
  top: 20px;
  left: 0;
  background: var(--gradient-vertical);
  opacity: 0.4;
  z-index: 999;
}

.bottom-vertical {
  width: 20px;
  height: 270px;
  position: absolute;
  bottom: 20px;
  right: 0;
  background: var(--gradient-vertical);
  opacity: 0.4;
  z-index: 999;
}

/* -------- OVERLAY EDGES -------- */
/* ******************************* */
.top-horizontal::after {
  content: "";
  width: 2rem;
  height: 4rem;
  position: absolute;
  top: 0;
  right: -1px;
  background-color: var(--dark);
  transform: rotate(50deg);
}

.top-vertical::after {
  content: "";
  width: 2rem;
  height: 4rem;
  position: absolute;
  bottom: -20px;
  right: -1px;
  background-color: var(--dark);
  transform: rotate(50deg);
}

.bottom-horizontal::after {
  content: "";
  width: 2rem;
  height: 4rem;
  position: absolute;
  top: -16px;
  left: -1px;
  background-color: var(--dark);
  transform: rotate(50deg);
}

.bottom-vertical::after {
  content: "";
  width: 2rem;
  height: 4rem;
  position: absolute;
  top: -28px;
  right: -1px;
  background-color: var(--dark);
  transform: rotate(50deg);
}

.copyright {
  position: absolute;
  bottom: 4rem;
  right: 4rem;
  z-index: 999;
}

/* -------- MEDIA QUERIES -------- */
/* ******************************* */
@media (max-width: 920px) {
  .copyright {
    bottom: 0.6rem;
    left: 2rem;
  }
}

@media (max-width: 768px) {
  .top-horizontal,
  .bottom-horizontal {
    width: 150px;
    height: 15px;
  }

  .top-vertical {
    width: 15px;
    height: 130px;
    top: 15px;
  }

  .bottom-vertical {
    width: 15px;
    height: 130px;
    bottom: 15px;
  }
}
