.preloader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--black);
  color: var(--light);
  pointer-events: none;
  z-index: 9999;
}

.preloader--portfolio {
  margin-left: 2rem;
  color: var(--white);
}

.preloader--text {
  display: flex;
  align-items: center;
  animation: fade 3s 1s forwards;
  opacity: 0;
}

@keyframes fade {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
