.mobile--nav {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--dark);
  transition: var(--transition);
  z-index: 2;
}

.mobile--nav-links {
  margin-top: 8rem;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
}

.mobile--nav-links::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1px;
  height: 200px;
  background: var(--gradient-vertical);
}

.mobile--nav-links::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 130px;
  height: 1px;
  background: var(--gradient-horizontal-reverse);
}

.mobile--nav-links > li {
  padding: 3rem 5rem;
  position: relative;
  transition: var(--transition);
  cursor: pointer;
}

.mobile--nav-links > li:hover {
  color: var(--white);
}

.mobile--socials {
  position: absolute;
  bottom: 2rem;
  right: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.mobile--socials > a {
  margin-bottom: 2rem;
  text-align: right;
}
